*{
	box-sizing: border-box;
	margin: 0px;
  font-family: 'Recursive', sans-serif;
}
h1{
	text-align: center;
	font-size: 200%;
	margin: 30px;
  font-family: 'Recursive', sans-serif;
  font-weight: bolder;
}
p{
  clear: right;
}
.row{
  width: 100%;
  margin: 0;
}
.box{
  position: relative;
  background-color: #C0C0C0;
  border: 1px solid black;
  padding: 0px 20px 0px 20px;
  float:left;
  margin: 10px;
}

#collapsable-nav{
  background-color: white;
  font-size: 120%;
}

#header-nav{
  background: #C0C0C0;
}
.navbar-brand h1 { /* Restaurant name */
  font-size: 150%;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  color: black;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#nav-list {
  margin-top: 0;
  margin-bottom: 0;
  border: 2px solid black;
}
#nav-list a {
  color: black;
  text-align: center;
  font-weight: bold;
}
ul li:nth-child(2){
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
